* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'menu';
    src: url('./assets/fonts/Inter-VariableFont_slnt\,wght.ttf')
}
@font-face { 
    font-family: 'principal';
    src: url('./assets/fonts/static/Inter-Bold.ttf');
}

body {
    width: 80%;
    margin: 3rem auto;
}

header {
    font-family: 'menu';
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3rem;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: block;
    color: hsl(236, 13%, 42%);
    list-style: none;
    padding: 1rem 1.5rem;
}
header nav ul li:hover {
    color: hsl(5, 85%, 63%);
}

main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 3fr 1fr;
}

.seccion-principal {
    margin-right: 2rem;
}

.imagen-seccion img {
    max-width: 1200px;
    width: 100%;
}

aside {
    padding: clamp(.2rem,1.5vw,1.9rem) clamp(10px,2vw,1.5rem);
    background: hsl(240, 100%, 5%);
    color: white;
    height: fit-content;
}

aside h2 {
    font-size: clamp(1.6rem,2vw,2.5rem);
    margin-left: 1rem;
    color: hsl(35, 77%, 62%);
}
aside h3 {
    font-size: clamp(1rem,1.2vw,1.5rem);
}
aside h3:hover{
    color:hsl(35, 77%, 62%) ;
}


aside article {
    margin: clamp(.6rem,1.5vw,1.4rem) 0;
}

aside article p {
    margin: 1rem 0 clamp(.1rem ,1.5vw ,2rem) 0;
    color: hsl(236, 13%, 42%);
    line-height: clamp(1rem,2vw,1.8rem);
    font-size: clamp(1rem,1vw,1.2rem);
}

.informacion-principal {
    padding: 2rem 0;
    display: flex;
   justify-content:space-between;
   width:100%;
}

.informacion-principal h1 {
   
    width:45%;
    font-size: clamp(2rem,4vw,4rem);
}

.informacion-principal article {
    width:50%;
    color: hsl(240, 6%, 60%);
    line-height: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.informacion-principal p{
    font-size: clamp(1rem,1.2vw,1.4rem);
    line-height: 2.2rem;
    font-weight: 500;
}

#btn-read-more{
    display: block;
    width: fit-content;
    color: white;
    background: hsl(5, 85%, 63%);
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    padding: .7rem 1.8rem;
}
#btn-read-more:hover{
    background: hsl(240, 100%, 5%);
}

.noticias-extras {
    height:auto;
    
    grid-column: 1/3;
    display: flex;
    margin-top: 2rem;
}

.noticias-extras article {
    margin-right: clamp(.1rem,4vw,5rem);
    display: flex;
    height:fit-content;
}
/* moficado */
.imagen-articulo {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.imagen-articulo img {
   width:clamp(100px,7vw,150px);
}
.info-detalles {
    height:auto;
    margin-left: 1rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.info-detalles p {
    color: hsl(236, 13%, 42%);
    line-height: clamp(.8rem,1.5vw,2rem);
    font-size: clamp(.8rem,1vw,1.1rem);
}
.info-detalles h4{
    font-size: clamp(1rem,1.1vw,1.3rem);
    line-height: clamp(3px,2.2vh,4rem);
}
.info-detalles h4:hover{
color: hsl(5, 85%, 63%);
}
.numero-noticia {
    font-size: 2rem;
    font-weight: bold;
    color: hsl(225, 3%, 73%);
}
@media screen and (max-width:1286px) {
   
}